*{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div{
    border: solid 1px black;
}
ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:white;
  } 
  li {
    float: left;
  }
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: orangered;
}
#innhold{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 1200px;
    width: 100%;
    background-color: teal;
}
#tekstbox1{
    display: flex;
    position: absolute;
    left: 30%;
    top: 10%;
    width: 1000px;
    height: 500px;
    margin: 0;
    padding: 0;
    border-radius: 4%;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    background-color: orange;
}
#tekstbox2{
    display: flex;
    position: absolute;
    left: 30%;
    top: 53%;
    width: 1000px;
    height: 500px;
    margin: 0;
    padding-left: 20px;
    border-radius: 4%;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    background-color: orange;
}
#footer{
    display: flex;
    
}
#header1{
    position: absolute;
    top: 10%;
    left: 30%;
}
#header2{
    position: absolute;
    top: 10%;
    left: 43%;
}